@import "myfonts";
$myColor: #636363;
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: daana;
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        header {
            ul {
                list-style-type: none;
                justify-content: flex-end;
                display: flex;
                li {
                    margin: 0 24px;
                    @media (max-width: 715px) {
                        margin: 0 12px;
                    }
                    a {
                        img {
                            width: 28px;
                            height: 28px;
                            @media (max-width: 715px) {
                                width: 20px;
                                height: 20px;
                            }
                            &#profile {
                                border-radius: 50%;
                            }
                        }
                         :hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .logoBackdrop {
                 ::-webkit-scrollbar {
                    width: 10px;
                }
                 ::-webkit-scrollbar-thumb {
                    background: rgb(213, 213, 213);
                    border-radius: 10px;
                }
                position: fixed;
                display: none;
                width: 100vw;
                height: 100vh;
                top: 0;
                z-index: 10;
                transition: 0.5s ease-in;
                .logoModal {
                    background-color: #fff;
                    display: none;
                    position: fixed;
                    right: 10px;
                    top: 53px;
                    width: 300px;
                    height: 405px;
                    z-index: 10;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    overflow: auto;
                    transition: 0.5s ease-in;
                    .grid-items {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        margin: 15px;
                        .grid-item {
                            padding: 6px;
                            text-align: center;
                            text-decoration: none;
                            color: $myColor;
                            img {
                                width: 37px;
                                height: 37px;
                            }
                        }
                    }
                    &.showed {
                        display: block;
                    }
                }
                &.showed {
                    display: block;
                }
            }
            .profileBackdrop {
                position: fixed;
                display: none;
                width: 100vw;
                height: 100vh;
                top: 0;
                z-index: 10;
                transition: 0.5s ease-in;
                .profileModal {
                    text-align: center;
                    background-color: #fff;
                    display: none;
                    position: fixed;
                    color: $myColor;
                    right: 10px;
                    top: 53px;
                    width: 340px;
                    height: 400px;
                    z-index: 10;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    transition: 0.5s ease-in;
                    @media (max-width: 368px) {
                        width: 300px;
                    }
                    .img-profile {
                        margin-top: 20px;
                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }
                        p {
                            margin: 0;
                            &:nth-of-type(1) {
                                font-size: 17px;
                            }
                            &:nth-of-type(2) {
                                font-size: 12px;
                            }
                        }
                        button {
                            background-color: #fff;
                            border: 1px solid #9d9d9d;
                            padding: 7px 20px;
                            border-radius: 20px;
                            margin: 10px 0;
                        }
                    }
                    &>div {
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            border-bottom: 1px solid rgb(216, 215, 216);
                            padding: 10px 0;
                        }
                        &:nth-of-type(2) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                            p {
                                margin: 10px;
                            }
                        }
                        &:nth-of-type(3) {
                            button {
                                background-color: #fff;
                                border: 1px solid #9d9d9d;
                                padding: 10px 30px;
                                border-radius: 10px;
                                margin: 10px 0;
                            }
                        }
                        &:nth-of-type(4) {
                            margin: 15px 0;
                            font-size: 14px;
                            span {
                                a {
                                    text-decoration: none;
                                    color: $myColor;
                                }
                            }
                        }
                    }
                    &.showed {
                        display: block;
                    }
                }
                &.showed {
                    display: block;
                }
            }
        }
        main {
            width: 100%;
            flex: 1;
            .content {
                display: block;
                margin: auto;
                text-align: center;
                .searchbox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    width: 30%;
                    background-color: #fff;
                    border-radius: 20px;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                    @media (max-width: 1440px) {
                        width: 70%;
                    }
                    input {
                        width: 80%;
                        height: 40px;
                        border: none;
                        outline: none;
                        &::placeholder {
                            font-family: daana;
                            font-size: 15px;
                            color: $myColor;
                        }
                    }
                    img {
                        padding: 0 12px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .favorite {
                    display: flex;
                    width: 460px;
                    padding-top: 30px;
                    justify-content: center;
                    margin: auto;
                    flex-wrap: wrap;
                    @media (max-width: 557px) {
                        width: 300px;
                    }
                    a {
                        text-decoration: none;
                        color: $myColor;
                        .sub_fav {
                            width: 50px;
                            height: 50px;
                            margin: 20px 20px 3px;
                            border-radius: 50%;
                            background-color: rgb(253, 208, 238);
                            @media (max-width: 368px) {
                                margin: 15px;
                            }
                        }
                        @media (max-width: 557px) {
                            &:nth-of-type(10) {
                                display: none;
                            }
                        }
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        footer {
            ul {
                list-style-type: none;
                align-items: center;
                display: flex;
                text-align: left;
                li {
                    margin: 0 24px;
                    @media (max-width: 1200px) {
                        margin: 0 18px;
                        font-size: 14px;
                    }
                    @media (max-width: 715px) {
                        margin: 0 14px;
                        font-size: 12px;
                    }
                    @media (max-width: 590px) {
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            display: none;
                        }
                        &:nth-of-type(6) {
                            margin-left: auto;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: $myColor;
                        img {
                            width: 25px;
                            height: 25px;
                            &#profile {
                                border-radius: 50%;
                            }
                        }
                         :hover {
                            cursor: pointer;
                        }
                    }
                    &:nth-of-type(3) {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}